.container
  footer.my-md-3.pt-5.pb-5
    .jumbotron
      .row
        .col-12.col-md
          .box Développé par l'Apur
          .links.mt-4
            a.classic-link(href="#" target="_blank") Code source