nav.navbar.navbar-expand-lg.navbar-light.navbar-fixed(style="background-color: black;")
  .navbar-brand.mr-4.pt-0
    a(href="/home")
      .title(style="font-style: italic; font-size: 40px; color: white;") Le géocodeur
  button.navbar-toggler.m-3(type='button' data-toggle='collapse' data-target='#navbarToggler' aria-controls='navbarToggler' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarToggler.collapse.navbar-collapse.px-3